<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusiTime</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <button class="sidebar-toggle" id="sidebarToggle" onclick="toggleSidebar()" aria-label="Toggle sidebar">&#9776;</button>
    <div class="sidebar" id="sidebar">
        <h2>Our Team</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/chase-quigley-1ab310245/" rel="noopener" target="_blank">Chase</a></li>
            <img src="../static/photos/chase.jpg" style="height: auto; aspect-ratio: 1 / 1; object-fit: cover;">
            <li><a href="https://linkedin.com/in/mahdi-almosawi-49880b251/" rel="noopener" target="_blank">Mahdi</a></li>
            <img src="../static/photos/mahdi.jpg">
            <li><a href="https://www.linkedin.com/in/abdu114hh/" rel="noopener" target="_blank">Abdullah</a></li>
            <img src="../static/photos/Abdullah.jpg">
            <li><a href="https://www.linkedin.com/in/tyedou3300/" rel="noopener" target="_blank">Tyler</a></li>
            <img src="../static/photos/tyler.jpg">
        </ul>
    </div>
    <div class="content" id="content">
        <h1 class="centered-title">MusiTime</h1>
        <p>For a full list of Spotify Genres: <a href="https://gist.github.com/andytlr/4104c667a62d8145aa3a" rel="noopener" target="_blank">Click Here</a></p>
        <div class="form-container">
            <form action="http://localhost:5002/update" method="POST" id="form">
                <p>NOTE: A max limit of 5 choices for entries of artists and genres</p>
                <p>Enter Username:</p>
                <input type="text" name="nm" placeholder="Ex: MusiTime24">
                <p>Enter Desired Time (Minutes):</p>
                <input type="text" name="length" placeholder="Ex: 20">
                <p>Long songs? Short Songs? (True/False)</p>
                <input type="text" name="long_to_short" placeholder="Empty ='don't care'">
                <p>Base of artist? (Leave blank for NO)</p>
                <input type="text" name="artists" placeholder="Juice WRLD">
                <p>Base of genre? (Leave blank for NO)</p>
                <input type="text" name="genres" placeholder="hip-hop">
                <input type="submit" value="Submit" onclick="showSuccess()">
            </form>
        </div>
        <h1 class="centered-title">Steps to get username</h1>
        <div class="image-container">
            <img src="../static/photos/start.png">
            <img src="../static/photos/middle.png">
            <img src="../static/photos/end.png">
        </div>
        <div class="footer">
            <h4>This project was created for CS310 at UMASS Boston</h4>
        </div>
    </div>
</body>
</html>
